  /*-------------------IDS-------------------------------------------*/
  #nav-home {
    font-family: Rochester;
    color: rgb(113, 15, 194);
    font-size: 30px;
  }

  #codeimg{
    z-index: 900;
  }

  #about {
    width: 100vw;
    position: relative;
    /*Trick to make the bacground fill the whole width*/
    left: 50%;
    margin-left: -50vw;
    padding-bottom: 5vh;
    overflow: hidden;
    top:-40em;
  }

  #about img {
    /*this changes the size of my photo*/
    width: auto;
    height: 40vh;
    margin: auto;
    margin-bottom: 3vh;
    float: left;
  }

  #codeheader{
    background-image: url('../images/code.jpg');
    width: 100vw;
    height:30vw;
    opacity: 0.6;
    position: relative;
    top:5em;
  }

  #flag{
    position: relative;
    left: 210px;
    width: 300px;
    height: 200px;
  }
  * {
    box-sizing: border-box;
  }

  /*------------------------------------CLASES------------------------------------*/
  .flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    top: -550px;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.darkblue .circle {
    stroke: #2600ff;
    position: relative;
    top: 50px;
    right: 300px;
  }
  
  .circular-chart.darkpurple .circle {
    stroke: rgb(106, 26, 172);
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }

  .nav {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index:999;    
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  }
  .left {
    text-align: left;
  }
  .center{
    text-align: center;
  }
  .parag {
    font-size: 30px;
    color: #000000; 
    margin-right: 15px;
    position: relative;
    left: 20px;
  }
  .desc {
    font-size: 30px;
    color: #000000; 
    margin-left: 15px;
    position: relative;
    left: 80px;
  }
  .content {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    top: -43em;
  }
  .list{
    position: relative;
    left: 100px;
  }
  
  .round-image {
    border-radius: 50%;      
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(136, 136, 136, 0.3);
    color: purple;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  /*-----------------------------------TIPOS-------------------------*/
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
}

  h1 {
    font-family: 'Arvo'; 
    font-size: 3em;
    color: #000000;
    font-weight: bold;
    
  }
  h2 {
    font-size: 2.5em;
    color: #000000;
    font-weight: bold;
  }
  h3 {
    font-size: 2em;
    color: #000000;
    margin-left: 300px;
    
  }
  li{
    font-size: 30px;
  }
  @media (max-width:768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover {
      background-color: rgba(117, 117, 117, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid rgb(129, 9, 153);
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(211, 211, 211);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      color: purple;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;

    }
    .nav > #nav-check:not(:checked) + .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked + .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .content {
      display: flex;
      flex-flow: column;
      position: relative;
      top: -550px;
    }
    #about{
      display: flex;
      flex-flow: column;
      position: relative;
      top: -550px;
    }
    #about img {
      display: flex;
      flex-flow: column;
      position: relative;
      width: auto;
      height: 25vh;
      margin: auto;
      margin-bottom: 3vh;
      float: center;
    }
    #codeheader{
      display: flex;
      flex-flow: column;
      position: relative;
      height: 70vw;
    }
    

  }